<canvas id='canvas', style="display:none">
</canvas>
<div id='camera'>
  <video id='video' width='500' autoplay></video>
  <img id='photo', style="display:none">
  <br>
  <br>
  <button class='padding-bot waves-effect waves-light btn' id='startbutton'><i class="material-icons left">videocam</i> Snap</button>
</div>

