<canvas id='canvas', style="display:none">
</canvas>
<div id='camera'>
  <video id='video' width='500' autoplay></video>
  <img id='photo', style="display:none">
  <br>
  <br>
  <button class='waves-effect waves-light btn' id='startbutton'>Take Photo</button>
</div>


