<%= form_tag({action: :create}, multipart: true) do %>
  <%= file_field_tag 'picture' %>
  <%= submit_tag %>
<% end %>

<canvas id='canvas' display='none'>
</canvas>
<div id='camera'>
  <video id='video' width='500' autoplay></video>
  <img id='photo'>
  <button id='startbutton'>Take Photo</button>
</div>
