<%= link_to notes_path do %>
    <%= image_tag 'diginoteheaderidk.png', width: 400, alt: 'digiinote header'%>
<% end %>


<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
  <br>
<% end %>

  <%= render 'new' %>



  <div id='camera-container'></div>


