<%= image_tag 'diginoteheaderidk.png', width: 400, alt: 'digiinote header'%> <br>
<%= image_tag 'subheader.png', width: 550, alt: 'digiinote header'%>




<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
  <br>
<% end %>

  <%= render 'new' %>

